body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.create-post-form {
    margin-top: 25px;
}

.datepicker {
    padding: 10px 15px;
}

.comment-section {
    margin-top: 40px;
}
.comment {
    margin-top: 20px;
    padding: 15px;
}

.hint {
    display: none;
}

.solution {
    display: none;
}

.task {
    margin-top: 5px;
    margin-bottom: 5px;
}